body{
	margin: auto;
}

h1{ font-family: "Times New Roman", Times, serif;
	color: blue;
	font-size: 3em;
	text-align: center;
	border-bottom: 2px solid #e100ff;
	width: auto;

}
li{
	font-weight: bold;
	padding: 5px;
	margin: 10px;
}
/*a{
	font-weight: bold;
	padding: 5px;
}*/